* {
  margin: 0;
  padding: 0;
  border: none;
}


body {
  background: url("new.png") center -81px no-repeat;
  background-size:100%;
}

.nav-container {
  /* position: relative; */
  height: 36px;
  margin-top: 84px;
}

nav {
  width:980px;
  height: 100%;
  margin: auto;
  display: flex;
  border-radius: 4px;
  position:relative;
  top:2em;
  background: linear-gradient(rgb(119, 117, 120) 50%, rgb(96, 97, 97) 50%);
}

.verse {
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  height: 104px;
  margin-top: 50px;
  background-image: url("heading1.png");
}

.everyone {
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  height: 82px;
  margin-top: -10px;
  margin-bottom: 30px;
  background-image: url("heading2.png");
}

.watch {
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  height: 31px;
  margin-top: 10px;
  background-image: url("heading3.png");
}

.container {
  display: flex;
  width:100%;
  margin-top: 150px;
}

.item {
  width: 25%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  position:relative;
  top:-1.4em;
  background-color: white;
}

.item1 {
  background-image: url("iphone.jpg")
}

.item2 {
  background-image: url("iphon2.jpg");
}

.item3 {
  background-image: url("30.jpg");
}

.item4 {
  background-image: url("supplier.jpg")
}
.nav-items{
  width:13%;
  border:1px solid rgba(45, 45, 45, 0.2);
  border-right:none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  border-radius:4px;
}

.nav1{
  background-image: url("apple.png");
  background-size: 22px;
}

header a:hover {
  background-color: rgba(45, 45, 45, 0.5);
}

.nav2{
  background-size: 22px;
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  font-weight:600px;
  text-decoration:none;
}

input {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:transparent;
  position:relative;
  top:0.7em;
  background: url("search2.png");
  background-size:14px;
  background-repeat:no-repeat;
  margin:auto auto;
  border:2px solid #555;
  width:90%;
  height:17px;
  background-position: 5px;
  border-radius:12px;
}

header div{
  border:1px solid rgba(45, 45, 45, 0.2);
  width:14%;
}

footer{
  margin-left:120px;
  font-size:10px;
  color:grey;
}

footer div{
  float:right;
  position:relative;
  left:-10em;
  top:-5.6em;
  text-indent:1em;
}

.usd img{
  position:relative;
  top:0.5em;
}

footer p{
  line-height:29px;
  font-size:12px;
}

footer a {
  color:cornflowerblue;
  font-weight:600;
}